<div class="container my-4">
  <div class="row">
    <div class="col">
      <h2>Find Positions to Apply For</h2>
      <div style="width:45%; margin:auto;">
        {{#each posts}}
          {{>post}}
        {{/each}}
      </div>
    </div>
  </div>
</div>