<div class="container" style="text-align: center; padding: 60px;">
  <img style="border-radius: 100%;" src={{image_url}} alt="Your profile picture">
  <h1>{{username}}</h1>
  <p>{{description}}</p>
</div>