<div class="card px-2 py-2 mx-2 my-2">
	<h3>{{username}}</h3>
	<p>{{body}}</p>
	{{#ifEquals @root.session.user.username username}}
	<a class="btn btn-danger" onclick="deleteComment({{comment_id}})">Delete</a>
	{{/ifEquals}}
</div>